* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 175vh;
    overflow-y: auto; 
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px; 
}

.header h1 {
    font-size: 24px;
    color: #28a745;
    flex: 2; 
}

.balance-overview {
    flex: 1;
    text-align: right;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
}

.chart, .statistics-content {
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 100%;
    max-width: 360px;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
}

form button:hover {
    background-color: #218838;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f8f9fa;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

footer {
    margin-top: 20px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #ddd;
}
